<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449867232985-29rjonjgdtjbuefrurk8es7sbkrfkfcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449867232985-29rjonjgdtjbuefrurk8es7sbkrfkfcc</string>
	<key>API_KEY</key>
	<string>AIzaSyCM5BkUq0iLnlW5KgYFDqeDxPXK-WEUQZU</string>
	<key>GCM_SENDER_ID</key>
	<string>449867232985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nifty.cbm01799.Swift5FBloginFirebase</string>
	<key>PROJECT_ID</key>
	<string>r-fbfb-loginn</string>
	<key>STORAGE_BUCKET</key>
	<string>r-fbfb-loginn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449867232985:ios:01606a26933a9c632bb0c8</string>
	<key>DATABASE_URL</key>
	<string>https://r-fbfb-loginn.firebaseio.com</string>
</dict>
</plist>